.App-header {
    display: flex;
    
  }
  .App-header img {
    height: 200px;
    width: 200px;
  }
  
  .App-header h1 {
    align-self: center;
    font-family: Arial;
    font-weight: bold;
    color: #e1003c;
  }